$breakpoints:(
  xxs: 320px,
  xxs-standard: 360px,
  xs: 576px,
  sm: 768px,
  lg: 992px,
  xl: 1200px,
  xl-screen:1920px,
  notebook:1280px,
  leptop:1366px,
  macbook:1440px,
  monitor:1600px,
);
