<app-main-header></app-main-header>
<!-- <div  fxLayout="row wrap" fxLayoutGap="2rem">
    <mat-card style="width: 200px;">
            <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
            <mat-card-title>Cafe Badilico</mat-card-title>
            <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
    </mat-card>
    <mat-card style="width: 200px;">
        <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
        <mat-card-title>Cafe Badilico</mat-card-title>
        <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
    </mat-card>
    <mat-card style="width: 200px;">
        <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
        <mat-card-title>Cafe Badilico</mat-card-title>
        <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
    </mat-card>
    <mat-card style="width: 200px;">
        <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
        <mat-card-title>Cafe Badilico</mat-card-title>
        <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
    </mat-card>
    <mat-card style="width: 200px;">
        <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
        <mat-card-title>Cafe Badilico</mat-card-title>
        <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
    <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
    <mat-card-title>Cafe Badilico</mat-card-title>
    <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
    <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
    <mat-card-title>Cafe Badilico</mat-card-title>
    <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
    <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
    <mat-card-title>Cafe Badilico</mat-card-title>
    <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
    <img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
    <mat-card-title>Cafe Badilico</mat-card-title>
    <mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
<img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
<mat-card-title>Cafe Badilico</mat-card-title>
<mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
<img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
<mat-card-title>Cafe Badilico</mat-card-title>
<mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
<mat-card style="width: 200px;">
<img mat-card-image src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
<mat-card-title>Cafe Badilico</mat-card-title>
<mat-card-subtitle>Small plate, salads & sandwiches an intimate setting with 12 indoor seats plus patio seating.</mat-card-subtitle>
</mat-card>
</div> -->



<!-- <div class="book-detail">
    <div class="image">
        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="">
        <div class="image-overlay">
            <div class="image-overlay-inner-container p-2" fxFlex fxLayoutAlign="none end">
                <div class="mat-title" fxLayout="row" fxLayoutAlign="none center"><mat-icon class="mr-1">keyboard_backspace</mat-icon> Book Name</div>
            </div>
        </div>
    </div>
    <div class="book-detail-content m-2" fxLayout.lg="row" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap.lg="2rem">
        <div class="book-deatil-content-body-1" fxFlex.lg="70">
            <div class="mat-title">Description</div>
            <div class="mat-body mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus saepe ea laudantium magni enim nam molestias aliquid cupiditate adipisci at, sit nihil dignissimos veritatis quam reprehenderit? Aspernatur, nihil dicta.
            Voluptatum quasi laborum officia consectetur, esse dolorum ut dicta cum odit iure numquam delectus commodi placeat! Repudiandae, eum. Dicta possimus laboriosam dolore necessitatibus illum, aliquam porro iste omnis sequi inventore.
            Sunt rerum repellendus quibusdam, vel asperiores in voluptates? Deserunt iste consequatur aliquam, quae minima sint, magni fugiat facilis, cupiditate aspernatur vitae blanditiis! Nisi quam dolore labore illo porro aperiam mollitia.</div>
        </div>
        <div class="book-deatil-content-body-2" fxFlex.lg="20">
            <mat-divider></mat-divider>
            <div class="mat-subheading-2 mb-0">Pages</div>
            <div class="price mat-body m-0 mb-1">350</div>
            <div class="mat-subheading-2 mb-0">Author</div>
            <div class="price mat-body m-0 mb-1">abc</div>
            <div class="mat-subheading-2 mb-0">Price</div>
            <div class="price mat-display-1 m-0 mb-1">Rs 100</div>
            <div class="mat-subheading-2 mb-0">Categories</div>
            <div class="mb-1">
                <mat-chip-list>
                    <mat-chip><mat-icon>favorite</mat-icon> Ramance</mat-chip>
                    <mat-chip>Horror    </mat-chip>
                    <mat-chip>Comedy</mat-chip>
                    <mat-chip>Ramance</mat-chip>
                    <mat-chip>Horror</mat-chip>
                    <mat-chip>Comedy</mat-chip>
                </mat-chip-list>
            </div>
            <button mat-flat-button color="primary" style="width: 100%;"> Add To Cart</button>

        </div>
    </div>
</div> -->



<!-- <div class="check-out">
    <mat-card style="width:400px">
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <div mat-line>name</div>
                    <div mat-line>Date dlfsjlf </div>
                </mat-list-item>  
            </mat-list>
            <mat-divider></mat-divider>
            <div class="check-out-subtotal"  fxLayout="row" fxLayoutAlign="space-between">
                <mat-card-subtitle>Subtotal</mat-card-subtitle>
                <div class="check-out-total-price">Rs 300</div>
            </div>
            <mat-divider></mat-divider>
            <div class="check-out-total" style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
                <div class="mat-subheading-1">total</div>
                <div class="check-out-total-price">Rs 300</div>
            </div>
            <button style="width:100%" color="primary" mat-flat-button> Place Order</button>
        </mat-card-content>
    </mat-card>
</div> -->

<!-- <div class="add-book">
    <mat-card style="width: 400px;">
        <mat-card-content>
            <mat-card-title>Add Book</mat-card-title>
            <mat-form-field style="width:100%" appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field style="width:100%" appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field style="width:100%" appearance="outline">
                <mat-label>Outline form field</mat-label>
                <textarea matInput placeholder="Placeholder"></textarea>
            </mat-form-field>
            <mat-form-field style="width:100%" class="example-chip-list" appearance="outline">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let fruit of fruits"
                    (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="New fruit..."
                    #fruitInput
                    [formControl]="fruitCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-flat-button color="primary" style="width:100%">Add Book</button>
        </mat-card-content>
    </mat-card>
</div> -->



<app-dashboard></app-dashboard>