<div style="padding: 1rem" fxLaoutt="row" fxFlexAlign="none center">
    <div class="mat-title mb-0">Logo</div>
    <div fxFlex></div>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>shopping_cart</mat-icon>
    </button> 
    <ngx-avatar value="AJ" size="40" src="https://dl.acm.org/do/10.1145/contrib-84458953057/full/signal-2017-05-22-204517-improved-square-zoom.jpg"></ngx-avatar>
</div>