*,*::after,*::before{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}

html, body { min-height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;min-height: 100vh;}

h1,h2,h3,h4,h5,h6,.mat-display-4,.mat-display-3,.mat-display-2,.mat-display-1,
.mat-h1,.mat-h2,.mat-h3,.mat-h4,.mat-headline,.mat-title,.mat-subheading-2,.mat-subheading-1,
.mat-body,.mat-body-1,.mat-body-strong,.mat-body-2,.mat-small,.mat-caption{
  margin: 0 !important;
  padding: 0 !important;
}

table{
  th{
    text-transform: capitalize;
  }
}

.page-top-margin{
  margin-top: 2rem !important;
}
